<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986029176792-1ouujmlqv1q7q31ptreeanjfgpor2ph3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986029176792-1ouujmlqv1q7q31ptreeanjfgpor2ph3</string>
	<key>API_KEY</key>
	<string>AIzaSyAzXcOQQp8_wnby3yQc_zWYg3ifguUHUUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>986029176792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ams.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-25c38</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-25c38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986029176792:ios:28080c5b12529c760024ad</string>
</dict>
</plist>